<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header text-center form-color">
            <h1>Registrar</h1>
        </div>
        <div class="card-body form-color">
        </div>
        <div class="card-footer form-color">
            <form action="/new-user" method="POST" class="form-color">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Nombre" class="form-control" autofocus>
                    <br>
                    <input type="email" name="email" placeholder="Correo electronico" class="form-control">
                    <br>
                    <input type="password" name="password" placeholder="Contraseña" class="form-control">
                    <br>
                    <input type="password" name="password2" placeholder="Confirmar contraseña" class="form-control">
                </div>
                <button class="btn btn-primary btn-block">Registrar</button>
            </form>
        </div>
    </div>
</div>